
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Createo Bold';
  src: url('../src/fonts/CreatoDisplay-Bold.otf');
}

@font-face {
  font-family: 'Createo Medium';
  src: url('../src/fonts/CreatoDisplay-Medium.otf');
}

@font-face {
  font-family: 'Made Outer Sans';
  src: url('../src/fonts/MADE\ Outer\ Sans\ Regular\ PERSONAL\ USE.otf');
}

@font-face {
  font-family: 'Retroica';
  src: url('../src/fonts/Retroica.ttf');
}

@font-face {
  font-family: 'Sansaction';
  src: url('../src/fonts/Sansation_Regular.ttf');
}

@font-face {
  font-family: 'Sublima';
  src: url('../src/fonts/Sublima-ExtraLight.otf');
}

@font-face {
  font-family: 'Urban Rounded';
  src: url('../src/fonts/UrbaneRounded-DemiBold.ttf');
}

.LogoFont{
  font-family: 'Urban Rounded';
}


.CategoryTitle{
  font-family: 'Createo Bold';
}

.commonFont{
  font-family: 'Createo Medium';
}

.hideScrollbar::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background: transparent; /* Background of the track container */
}

/* Track */
.hideScrollbar::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

/* Thumb */
.hideScrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border-radius: 10px;
    transition: background 0.3s ease;
}

/* Hover effect */
.hideScrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
}
.subimages-swiper .swiper-button-next,
        .subimages-swiper .swiper-button-prev {
          color: #4f46e5;
          background: rgba(255, 255, 255, 0.8);
          width: 20px;
          height: 20px;
          border-radius: 50%;
          --swiper-navigation-size: 12px;
          padding: 8px;
        }
        
        .subimages-swiper .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
        }
        
        .subimages-swiper {
          padding-bottom: 25px;
        }